<section class="todo-container">
    <div class="todo">
        <div class="todo-item">
            <h2 class="todo-item__title">Ready</h2>
            <article class="todo-item__task" id="readyTasks"></article>
            <div class="todo-item__button">
                <button class="todo-item__button-add button" id="addToReady">+ Add card</button>
            </div>
        </div>
        <div class="todo-item">
            <h2 class="todo-item__title">In Progress</h2>
            <article class="todo-item__task" id="inProgressTasks"></article>
            <div class="todo-item__button">
                <button class="todo-item__button-add button" id="addToInProgress">+ Add card</button>
            </div>
        </div>
        <div class="todo-item">
            <h2 class="todo-item__title">Finished</h2>
            <article class="todo-item__task" id="finishedTasks"></article>
            <div class="todo-item__button">
                <button class="todo-item__button-add button" id="addToFinished">+ Add card</button>
            </div>
        </div>
    </div>
</section>
<footer class="footer-container">
    <div class="tasks">
        <article class="active-task">
            <p>Active tasks:</p>
        </article>
        <article class="finished-task">
            <p>Finished tasks:</p>
        </article>
    </div>
    <article class="owner">
        <p>Kanban board by</p>
    </article>
</footer>
