*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html, body {
    height: 100%;
}

p {
    margin: 0;
}

#navbarSupportedContent {
    flex-grow: 0;
}

#app-login-btn {
    width: 160px;
}

#content {
    margin-bottom: 0;
}

.button {
    color: #4d586d;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-disabled {
    color: #d3d3d3;
    cursor: not-allowed;
}

.button-active {
    cursor: pointer;
}

.container {
    margin: 0;
    padding: 0;
    max-width: none;
}

.todo-container {
    background: #0079bf;
    min-height: calc(100vh - 114px);
    margin: 0;
    padding: 0;
}

.todo {
    padding: 20px 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 50px;
    align-items: start;
    justify-items: center;
}

.todo-item {
    width: 282px;
    border-radius: 10px;
    background: #ebecf0;
}

.todo-item__title {
    padding-top: 12px;
    padding-left: 12px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.todo-item__task {
    margin: 15px 12px;
    display: flex;
    width: 258px;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    word-wrap: break-word;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.todo-item__task p {
    padding: 7px 9px 7px 8px;
    border-radius: 5px;
    background: #fff;
    width: 241px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: move;
}

.todo-item__task input {
    padding: 7px 9px 7px 8px;
    border-radius: 5px;
    background: #fff;
    width: 241px;
    word-wrap: break-word;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.todo-item__button {
    padding-left: 13px;
    padding-bottom: 8px;
}

.todo-item__button-add {
    border: none;
}

.footer-container {
    background: #0067a3;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.empty-indicator {
    color: #888; /* Цвет текста для индикатора */
    text-align: center; /* Выравнивание по центру */
    margin: 20px 0; /* Отступы */
}

.tasks {
    padding: 17px 21px;
    display: flex;
}
.active-task {
    padding-right: 36px;
}
.finished-task {
}
.owner {
    padding-right: 19px;
}

@media (max-width: 1200px) {
    .todo {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .todo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .todo {
        grid-template-columns: repeat(1, 1fr);
    }

    .tasks {
        flex-direction: column;
    }
}
